.newsBlock {
    background-color: rgb(var(--blackamber));
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: flex-start; 
}
.newsBlockImageContainer {
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 9px 9px 0px 0px;
  }
.newsBlockImage {
    background: rgb(150, 150, 211);
    border-radius: 9px 9px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.newsBlock:hover .newsBlockImage {
    transform: scale(1.1);
}
.rightArrow{
    transform: scaleX(-1)
}
.topNewsBlockText{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    max-height: 20%;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
}
.downNewsBlockText{
    font-size: 18px;
    margin-left: 6px;
}
.newsBlock:hover .topNewsBlockText {
    background: rgba(0, 0, 0, 0.9);
}