.SearchInput{
    display: flex;
    column-gap:4;
    background-color: rgb(var(--codgray));
    border-radius: 9px;
    padding: 6;
    transition: outline 0.2s ease-in-out;
    border: solid 2px rgb(var(--anthracitegrey));
    color:rgb(var(--text));
    &:focus-within {
        border: solid 2px rgb(var(--sub-secondary));
    }
    :last-child{
        background-color: rgb(var(--codgray));
        color:rgb(var(--text));
    }
}